# Auto Insurance Churn Data Set

The data asset is relational.  There are four different data files.  One represents customer information.  A second contains address information.  A third contains demographic data, and a fourth includes customer cancellation information.  All of the data sets have linking ids, either ADDRESS_ID or CUSTOMER_ID.  The ADDRESS_ID is specific to a postal service address.  The CUSTOMER_ID is unique to a particular individual.  Note that there can be multiple customers assigned to the same address.  Also, note that not all customers have a match in the demographic table.

There are 1,536,673 unique addresses.

There are 2,280,321 unique customers. Of these, 2,112,579 have demographic information, and 269,259 cancelled during the previous year.

This data is synthetic.  The customer information is all fictitious.  The latitude-longitude information generally refers to the Dallas-Fort Worth Metroplex in North Texas and is mappable at a high level.  Just be aware that if you drill down too far, some people may live in the middle of Jerry World, DFW Airport, or Lake Grapevine.  Any lat/long pointing to a specific residence, business, or other physical site is purely coincidental.  The physical addresses are fake and are unrelated to the lat/long.

In the termination table, you can derive a binary (churn/did not churn) from the ACCT_SUSPD_DATE field.  The data set is modelable.  That is, you can use the other data in the data to predict who did and did not churn.  The underlying logic behind the prediction should be consistent with predicting auto insurance churn in the real world.

### Import Libraries

In [1]:
!pip install plotly --upgrade
!pip install chart-studio --upgrade

Requirement already satisfied: plotly in /opt/conda/envs/Python-3.10-CUDA/lib/python3.10/site-packages (5.9.0)
Collecting plotly
  Downloading plotly-5.18.0-py3-none-any.whl (15.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.6/15.6 MB 93.4 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: tenacity>=6.2.0 in /opt/conda/envs/Python-3.10-CUDA/lib/python3.10/site-packages (from plotly) (8.0.1)
Requirement already satisfied: packaging in /opt/conda/envs/Python-3.10-CUDA/lib/python3.10/site-packages (from plotly) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/conda/envs/Python-3.10-CUDA/lib/python3.10/site-packages (from packaging->plotly) (3.0.9)
Installing collected packages: plotly
  Attempting uninstall: plotly
    Found existing installation: plotly 5.9.0
    Uninstalling plotly-5.9.0:
      Successfully uninstalled plotly-5.9.0
Successfully installed plotly-5.18.0
Collecting chart-studio
  Downloading chart_studio-1.1.0-py3-none-any.whl (64 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 64.4/64.4 kB 12.3 MB/s eta 0:00:00
Requirement already satisfied: requests in /opt/conda/envs/Python-3.10-CUDA/lib/python3.10/site-packages (from chart-studio) (2.31.0)
Requirement already satisfied: six in /opt/conda/envs/Python-3.10-CUDA/lib/python3.10/site-packages (from chart-studio) (1.16.0)
Collecting retrying>=1.3.3
  Downloading retrying-1.3.4-py3-none-any.whl (11 kB)
Requirement already satisfied: plotly in /opt/conda/envs/Python-3.10-CUDA/lib/python3.10/site-packages (from chart-studio) (5.18.0)
Requirement already satisfied: tenacity>=6.2.0 in /opt/conda/envs/Python-3.10-CUDA/lib/python3.10/site-packages (from plotly->chart-studio) (8.0.1)
Requirement already satisfied: packaging in /opt/conda/envs/Python-3.10-CUDA/lib/python3.10/site-packages (from plotly->chart-studio) (21.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/envs/Python-3.10-CUDA/lib/python3.10/site-packages (from requests->chart-studio) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/envs/Python-3.10-CUDA/lib/python3.10/site-packages (from requests->chart-studio) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python-3.10-CUDA/lib/python3.10/site-packages (from requests->chart-studio) (2023.7.22)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/envs/Python-3.10-CUDA/lib/python3.10/site-packages (from requests->chart-studio) (1.26.11)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/conda/envs/Python-3.10-CUDA/lib/python3.10/site-packages (from packaging->plotly->chart-studio) (3.0.9)
Installing collected packages: retrying, chart-studio
Successfully installed chart-studio-1.1.0 retrying-1.3.4

In [2]:
import pandas as pd
import numpy as np

import chart_studio.plotly as py
import plotly.graph_objs as go
import plotly as plotly

### Import Address Data Frame

In [3]:
!wget --load-cookies /tmp/cookies.txt "https://docs.google.com/uc?export=download&confirm=$(wget --quiet --save-cookies /tmp/cookies.txt\
    \--keep-session-cookies --no-check-certificate 'https://docs.google.com/uc?export=download&id=FILEID'\
    \-O- | sed -rn 's/.*confirm=([0-9A-Za-z_]+).*/\1\n/p')&id=1smO9FIxBXZgI-w7w6XzjNk5n_cTDEo6q" -O yy.csv && rm -rf /tmp/cookies.txt



df_address = pd.read_csv("yy.csv", sep=",", header=0)

--2023-11-14 14:57:40--  https://docs.google.com/uc?export=download&confirm=&id=1smO9FIxBXZgI-w7w6XzjNk5n_cTDEo6q
Resolving docs.google.com (docs.google.com)... 142.250.138.138, 142.250.138.102, 142.250.138.100, ...
Connecting to docs.google.com (docs.google.com)|142.250.138.138|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-08-8k-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/fdacjt20t0e9e35dvb8l43i13be83ecs/1699973850000/06415761920179917373/*/1smO9FIxBXZgI-w7w6XzjNk5n_cTDEo6q?e=download&uuid=49d4c834-c22e-4e72-a97a-b004256bafe1 [following]
Warning: wildcards not supported in HTTP.
--2023-11-14 14:57:40--  https://doc-08-8k-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/fdacjt20t0e9e35dvb8l43i13be83ecs/1699973850000/06415761920179917373/*/1smO9FIxBXZgI-w7w6XzjNk5n_cTDEo6q?e=download&uuid=49d4c834-c22e-4e72-a97a-b004256bafe1
Resolving doc-08-8k-docs.googleusercontent.com (doc-08-8k-docs.googleusercontent.com)... 142.251.116.132, 2607:f8b0:4023:1009::84
Connecting to doc-08-8k-docs.googleusercontent.com (doc-08-8k-docs.googleusercontent.com)|142.251.116.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 119490939 (114M) [text/csv]
Saving to: ‘yy.csv’

yy.csv              100%[===================>] 113.96M  68.9MB/s    in 1.7s

2023-11-14 14:57:42 (68.9 MB/s) - ‘yy.csv’ saved [119490939/119490939]

In [4]:
df_address.head()

,ADDRESS_ID,LATITUDE,LONGITUDE,STREET_ADDRESS,CITY,STATE,COUNTY
0,5.213011e+11,32.315803,-96.627896,8457 Wright Mountains Apt. 377,Ennis,TX,Ellis
1,5.213000e+11,NaN,NaN,082 Cline Mountains Apt. 353,Irving,TX,Dallas
2,5.213002e+11,32.806290,-96.779857,457 John Mills,Dallas,TX,Dallas
3,5.213013e+11,32.825737,-96.939687,5726 Barnett Meadow,Irving,TX,Dallas
4,5.213010e+11,32.867192,-96.715552,050 Nicholas Views,Dallas,TX,Dallas

In [7]:
df_address.shape

(1536673, 7)

#### Column Descriptions

ADDRESS_ID -- Unique ID for a specific address

ZIP5 -- Five Digit US Postal Service Zip Code

LATITUDE -- Lattitude of the address

LONGITUDE -- Longitude of the address

STREET_ADDRESS -- Mailing Address of the address

CITY -- City

STATE -- State

COUNTY -- County

### Import Customer Data Frame

In [8]:
!wget --load-cookies /tmp/cookies.txt "https://docs.google.com/uc?export=download&confirm=$(wget --quiet --save-cookies /tmp/cookies.txt\
    \--keep-session-cookies --no-check-certificate 'https://docs.google.com/uc?export=download&id=FILEID'\
    \-O- | sed -rn 's/.*confirm=([0-9A-Za-z_]+).*/\1\n/p')&id=1ufzBFjA5AIBGSDRiISb7X40-xuOgdOkQ" -O yy.csv && rm -rf /tmp/cookies.txt



df_customer = pd.read_csv("yy.csv", sep=",", header=0)

--2023-04-03 19:09:44--  https://docs.google.com/uc?export=download&confirm=&id=1ufzBFjA5AIBGSDRiISb7X40-xuOgdOkQ
Resolving docs.google.com (docs.google.com)... 142.250.68.174, 2607:f8b0:4000:805::200e
Connecting to docs.google.com (docs.google.com)|142.250.68.174|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-0g-8k-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/joa9vnneiauqkap783boapvtldvv15kv/1680548925000/06415761920179917373/*/1ufzBFjA5AIBGSDRiISb7X40-xuOgdOkQ?e=download&uuid=98b05dd7-f771-4599-a893-dbd8de796084 [following]
Warning: wildcards not supported in HTTP.
--2023-04-03 19:09:44--  https://doc-0g-8k-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/joa9vnneiauqkap783boapvtldvv15kv/1680548925000/06415761920179917373/*/1ufzBFjA5AIBGSDRiISb7X40-xuOgdOkQ?e=download&uuid=98b05dd7-f771-4599-a893-dbd8de796084
Resolving doc-0g-8k-docs.googleusercontent.com (doc-0g-8k-docs.googleusercontent.com)... 142.250.68.129, 2607:f8b0:4000:805::2001
Connecting to doc-0g-8k-docs.googleusercontent.com (doc-0g-8k-docs.googleusercontent.com)|142.250.68.129|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 201785026 (192M) [text/csv]
Saving to: ‘yy.csv’

yy.csv              100%[===================>] 192.44M   174MB/s    in 1.1s

2023-04-03 19:09:45 (174 MB/s) - ‘yy.csv’ saved [201785026/201785026]

In [9]:
df_customer.shape

(2280321, 8)

In [10]:
df_customer.head()

,INDIVIDUAL_ID,ADDRESS_ID,CURR_ANN_AMT,DAYS_TENURE,CUST_ORIG_DATE,AGE_IN_YEARS,DATE_OF_BIRTH,SOCIAL_SECURITY_NUMBER
0,2.213000e+11,5.213000e+11,818.877997,1454.0,2018-12-09,44.474,1978-06-23,608-XX-7640
1,2.213001e+11,5.213001e+11,974.199182,1795.0,2018-01-02,72.559,1950-05-30,342-XX-6908
2,2.213007e+11,5.213002e+11,967.375112,4818.0,2009-09-23,55.444,1967-07-07,240-XX-9224
3,2.213016e+11,5.213006e+11,992.409561,130.0,2022-07-25,53.558,1969-05-25,775-XX-6249
4,2.213016e+11,5.213006e+11,784.633494,5896.0,2006-10-11,50.220,1972-09-25,629-XX-7298

Column Descriptions

INDIVIDUAL_ID -- Unique ID for a specific insurance customer

ADDRESS_ID -- Unique ID for the primary address associated with a customer

CURR_ANN_AMT -- The Annual dollar value paid by the customer.  It is not the policy amount.  It is actually amount the customer paid during the previous year.

DAYS_TENURE -- The time in days individual has been a customer with the insurance agency.

CUST_ORIG_DATE -- The data the individual became a customer

AGE_IN_YEARS -- Age of the individual.

DATE_OF_BIRTH -- Individual's date of birth

SOCIAL_SECURITY_NUMBER -- Social Security Number.  Note the middle two digts are XX to prevent any coincidental actuall SSNs from appearing.

### Import Demographic Data Frame

In [11]:
!wget --load-cookies /tmp/cookies.txt "https://docs.google.com/uc?export=download&confirm=$(wget --quiet --save-cookies /tmp/cookies.txt\
    \--keep-session-cookies --no-check-certificate 'https://docs.google.com/uc?export=download&id=FILEID'\
    \-O- | sed -rn 's/.*confirm=([0-9A-Za-z_]+).*/\1\n/p')&id=1txe8m9XxBYHdTfJymlHq5WgDh9cST0wU" -O yy.csv && rm -rf /tmp/cookies.txt



df_demographic = pd.read_csv("yy.csv", sep=",", header=0)

--2023-04-03 19:10:17--  https://docs.google.com/uc?export=download&confirm=&id=1txe8m9XxBYHdTfJymlHq5WgDh9cST0wU
Resolving docs.google.com (docs.google.com)... 142.250.138.138, 142.250.138.100, 142.250.138.102, ...
Connecting to docs.google.com (docs.google.com)|142.250.138.138|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-0o-8k-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/avfjtghikrlcmsbe0i6bpu1mt80b9cqt/1680549000000/06415761920179917373/*/1txe8m9XxBYHdTfJymlHq5WgDh9cST0wU?e=download&uuid=a164b5dc-7584-45fa-9ab8-abcfa643edae [following]
Warning: wildcards not supported in HTTP.
--2023-04-03 19:10:17--  https://doc-0o-8k-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/avfjtghikrlcmsbe0i6bpu1mt80b9cqt/1680549000000/06415761920179917373/*/1txe8m9XxBYHdTfJymlHq5WgDh9cST0wU?e=download&uuid=a164b5dc-7584-45fa-9ab8-abcfa643edae
Resolving doc-0o-8k-docs.googleusercontent.com (doc-0o-8k-docs.googleusercontent.com)... 142.251.116.132, 2607:f8b0:4023:1006::84
Connecting to doc-0o-8k-docs.googleusercontent.com (doc-0o-8k-docs.googleusercontent.com)|142.251.116.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 122882595 (117M) [text/csv]
Saving to: ‘yy.csv’

yy.csv              100%[===================>] 117.19M   194MB/s    in 0.6s

2023-04-03 19:10:18 (194 MB/s) - ‘yy.csv’ saved [122882595/122882595]

In [9]:
df_demographic.head()

,INDIVIDUAL_ID,INCOME,HAS_CHILDREN,LENGTH_OF_RESIDENCE,MARITAL_STATUS,HOME_MARKET_VALUE,HOME_OWNER,COLLEGE_DEGREE,GOOD_CREDIT
0,2.213028e+11,125000.000,1.0,8.0,Single,300000 - 349999,1,1,1
1,2.213032e+11,42500.000,0.0,0.0,Single,NaN,0,0,0
2,2.213032e+11,27500.000,0.0,15.0,Married,75000 - 99999,1,0,1
3,2.213032e+11,80372.176,0.0,0.0,NaN,1000 - 24999,1,0,0
4,2.213032e+11,125000.000,0.0,0.0,NaN,NaN,0,0,1

#### Column Descriptions

INDIVIDUAL_ID -- Unique ID for a specific insurance customer

INCOME -- Estimated Income for the Household associated with the individual

HAS_CHILDREN -- Flag, 1 indicates the individual has children in the home, 0 otherwise.

LENGTH_OF_RESIDENCE -- Estimated number of years the individual has lived in their current home.

MARITAL_STATUS -- Estimated marital status.  Married or Single.

HOME_MARKET_VALUE -- Estimate value of home.

HOME_OWNER -- Flag, 1 individual owns primary home, 0 otherwise.

COLLEGE_DEGREE -- Flag, 1 individual has a college degree or more, 0 otherwise.

GOOD_CREDIT -- Flag, 1 individual has FICO greater than 630, 0 otherwise.

In [10]:
df_demographic.shape

(2112579, 9)

### Import Customer Termination Data Frame

In [11]:
!wget --load-cookies /tmp/cookies.txt "https://docs.google.com/uc?export=download&confirm=$(wget --quiet --save-cookies /tmp/cookies.txt\
    \--keep-session-cookies --no-check-certificate 'https://docs.google.com/uc?export=download&id=FILEID'\
    \-O- | sed -rn 's/.*confirm=([0-9A-Za-z_]+).*/\1\n/p')&id=1xOSOPO8kYV1sWNO1lAiy6-qNvrtroQ2G" -O yy.csv && rm -rf /tmp/cookies.txt



df_termination = pd.read_csv("yy.csv", sep=",", header=0)

--2023-01-30 21:42:30--  https://docs.google.com/uc?export=download&confirm=&id=1xOSOPO8kYV1sWNO1lAiy6-qNvrtroQ2G
Resolving docs.google.com (docs.google.com)... 142.251.45.46, 2607:f8b0:4000:810::200e
Connecting to docs.google.com (docs.google.com)|142.251.45.46|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-08-8k-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/dghsnpgb4000ea8qkfuvq0nfovj0lra4/1675114950000/06415761920179917373/*/1xOSOPO8kYV1sWNO1lAiy6-qNvrtroQ2G?e=download&uuid=1e313d40-daa1-4fe6-a0ec-e1795d9fcad4 [following]
Warning: wildcards not supported in HTTP.
--2023-01-30 21:42:31--  https://doc-08-8k-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/dghsnpgb4000ea8qkfuvq0nfovj0lra4/1675114950000/06415761920179917373/*/1xOSOPO8kYV1sWNO1lAiy6-qNvrtroQ2G?e=download&uuid=1e313d40-daa1-4fe6-a0ec-e1795d9fcad4
Resolving doc-08-8k-docs.googleusercontent.com (doc-08-8k-docs.googleusercontent.com)... 142.250.113.132, 2607:f8b0:4000:800::2001
Connecting to doc-08-8k-docs.googleusercontent.com (doc-08-8k-docs.googleusercontent.com)|142.250.113.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7000764 (6.7M) [text/csv]
Saving to: ‘yy.csv’

yy.csv              100%[===================>]   6.68M  --.-KB/s    in 0.07s

2023-01-30 21:42:31 (89.2 MB/s) - ‘yy.csv’ saved [7000764/7000764]

In [12]:
df_termination.head()

   INDIVIDUAL_ID ACCT_SUSPD_DATE
0   2.213026e+11      2022-10-09
1   2.213028e+11      2022-04-24
2   2.213027e+11      2022-05-21
3   2.213002e+11      2022-04-27
4   2.213026e+11      2022-09-16

#### Column Descriptions

INDIVIDUAL_ID -- Unique ID for a specific insurance customer

ACCT_SUSPD_DATE -- Day of Account Suspension or Cancellation

The termination data frame has 269,259 records

In [13]:
df_termination.shape

(269259, 2)